/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#headerSection {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-family: 'Georgia', serif; /* Changed font for h1 */
}

#headerSection h1 {
    margin: 0;
}

#bodySection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    margin-top: -30px;
}

form {
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

form h3 {
    margin-top: 0;
    color: #333;
    font-family: 'Helvetica', sans-serif; /* Changed font for h3 */
}

form input, form select {
    width: 100%;
    padding: 0.75em;
    margin: 0.5em 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75em;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

form p {
    text-align: center;
}

form a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

form a:hover {
    text-decoration: underline;
    color: #45a049;
}
